body {

background: #FFA17F; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FFA17F , #00223E); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFA17F , #00223E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

p {
font-family: 'DSEG', roboto;
float: right;
margin: 1px 19px;
font-size: 16px;
}

h1 {
	font-family: 'DSEG', roboto;
	color: #ffffff;
}

@font-face { font-family: 'DSEG'; src: url('DSEG14Modern-Regular.woof') format('wood'), url('DSEG14Modern-Regular.ttf'); } 

a {
	color: #ffffff;
}

footer {
	position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}

#calculator {
	padding-top: 15px;
	padding-bottom: 100px;
}

#result {
	max-width: 186px;
    background-color: lightyellow;
    border-radius: 5px;
    margin: auto;
    min-height:25px;
    margin-bottom: 4px;
}

.calcrow{
	padding-top:4px;
	padding-bottom:4px;
}

.btn-primary {
    width: 44px;
}
.btn-warning {
    width: 44px;
}
.btn-danger {
    width: 44px;
}
#equals {
	width: 92px;
}

